.body
{
    font-size: 12px;
   height: 390em;
    width: 107em;
}
.ccf {
        
    height: 10vw;
}
.cce
{

    height: 10vw;
}
.cc
{   
    font: 6.25em HelveticaNeueLTCom;
    font-size: 6vw;
    text-align: center;
    color: #000;  
    }
.ile
{
    height: 8vw;
    
}
.ill
{
    height: 8vw;
    
}
.ilf
{
   
       
    height: 8vw;
}
.il
{   padding-top: .8vw;
    color: #beacab;
    font: 300 36px / 18px FuturaBT;
    font-size: 3.9vw;
    text-align: center;
    color: #000;
}
.oi
{   padding-top: .8vw;
    color: #beacab;
    font: 300 36px / 18px FuturaBT;
    font-size: 3vw;
    text-align: center;
    color: #000;
}
.ilh {   
    color: #000;
  height: 2px;
    align-content: center;  
}
.image {
    width: 67em;
    align-self: center;
}
hr {
    border: none;
    height: .2vw;
   
    color: #000; 
    background-color: #333;
}
.sp
{

height: 8vw;
}
.sum {
    font-size: 3.5vw;
    text-align: center;
    color: #000;
}
.spl {
    font-size: 2vw;
    text-align: center;
    color: #000;
}
.low
{
height: 6.4vm;
}

#square {
     display: block;
    margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
    margin-top: 40px;
	width: 150px;
	height: 100px;
	background: grey;
    border-top: 3px dashed #000;
    border-left: 3px dashed #000;
    border-right: 3px dashed #000;

    
}
#triangle-down {
    display: block;
    margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
    border-top: 60px solid grey;
   
}



.circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 3px dashed #000;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}


.hgt1 {
    height: auto;
    background-color: dimgrey;
}

.hgt2 {
    height: 26em;
    background-color: darkgray;
}

.hgt3 {
    background-color: dimgrey;
    
}

.hg2 {
    background-color: darkgrey;
    height: 27em;
   border-left: 3px dashed #000;
    border-top: 3px dashed #000;
    border-bottom: 3px dashed #000;
  }
.hg22 {
    background-color: darkgrey;
    height: 27em;
   border-right: 3px dashed #000;
    border-top: 3px dashed #000;
    border-bottom: 3px dashed #000;
  }
.hg22s
{

  background-color: darkgrey;
    height: 27em;
    border-right: 3px dashed #000;
   border-left: 3px dashed #000;
    border-top: 3px dashed #000;
    border-bottom: 3px dashed #000;

}




.hgi2
{
  background-color: darkgrey;
    height: 27em;
   border-right: 3px dashed #000;
    border-top: 3px dashed #000;
    border-bottom: 3px dashed #000;
    
}
.hgs2 {
 background-color: darkgrey;
    height: 27em;
   border-left: 3px dashed #000;
    border-top: 3px dashed #000;
    border-bottom: 3px dashed #000;
    border-right: 3px   dashed #000;
}

.hh {
    background-color: dimgrey;
}
.details
{

margin-left: 2vw;
}

.details2 {
        
    margin-right: 2vw;}

.ha
{
border-right: 3px dashed #000;

}
.ha2
{
border-left: 3px dashed #000;

}
#checkoutbutton {
   
  border-radius: 37px; 
-moz-border-radius: 37px; 
-webkit-border-radius: 37px; 
border: 2px solid #2BB673  ;
  background-color: #2BB673  ;
  text-align: center;
  padding-top: 1vw;
 padding: 5px;
}

.a {
    color: black;
}
.texts
{
    padding-top: 8px;
    color: #000000;
    font: 300 14px FuturaBT;
    text-align: center;
}